@charset "UTF-8";

:root{
	--fg-black: black;
	--bg-black: black;
	--bg-lightgrey: rgb(249, 251, 251);
	--fg-white: white;
	--bg-white: white;
	--bg-sky: skyblue;
	--bg-grey: #c0c0c0;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding:0;
	font-family: "Segoe UI", roboto, "Helvetica Nueue", Arial, "Noto sans", sans-serif;
	font-size: 1em;
	/*background-color: var(--bg-white);*/
	color: var(--fg-black);
}
html,
body{
	height: 100%;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
input, select{
	border: 1px solid var(--bg-grey);
	padding: 5px 10px;
}
header{
	width: 100%;
	margin-bottom: 20px;
	position: sticky;
	top: 0;
	border-bottom: 2px solid var(--bg-sky);
	background-color: var(--fg-white);
}

.amoiries{
	display: none;
}

.img-frame{
	display: inline-block;
	margin-left: 5px;
}
.logo{
	height: 50px;
}
.fa-solid, .fa-thin, .fa-regular{
	margin-right: 5px;
}
.menu{
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: hidden;
	background-color: var(--bg-white);
}
/*.menu-item a*/
.menu-list a{
	display: block;
	padding: 10px;
}
.menu-list a:hover{
	background-color: grey;
}
.menu {
	max-height: 0;
	transition: max-height .5s ease-out;
}
/* Hamburger icon */
.menu-icon{
	cursor: pointer;
	float: right;
	padding: 20px 10px;
	
}
.menu-btn-icon{
	display: block;
	background-color: black;
	height: 2px;
	position: relative;
	width: 24px;
}
.menu-btn-icon::before,
.menu-btn-icon::after{
	content:'';
	display: block;
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
}
.menu-btn-icon::before{
	margin-top: 10px;
}
.menu-btn-icon::after{
	margin-top: -10px;
}
.menu-checker{
	display: none;
} 
/*Toogle menu btn*/
.menu-checker:checked ~ .menu{
	max-height: 100%;
}
.menu-checker:checked ~ .menu-icon .menu-btn-icon{
	background: transparent;
}
.menu-checker:checked ~ .menu-icon .menu-btn-icon::after{
	transform: rotate(57deg);
	transform-origin:0;
}
.menu-checker:checked ~ .menu-icon .menu-btn-icon::before{
	transform: rotate(-57deg);
	transform-origin:0;
}
/*display submenu*/
.submenu, 
.submenu-2{
	overflow: hidden;
	max-height: 0;
}
.show-submenu, 
.show-submenu-2{
	overflow: visible;
	max-height: 100%;
	transition: max-height .5s ease-out;
}
.show-submenu a{
	padding-left: 40px;
	transition: padding-left .5s ease-out;
}
.show-submenu-2 a{
	padding-left: 80px;
	transition: padding-left .5s ease-out;
}
.main-frame{
	width: 100%;
	margin: 15px 0;
}
.frame-title{
	width:100%;
	text-align: center;
	font-size: 1.7em;
	padding: 20px 0;
	margin-bottom: 20px;
}
.searchbar input,
.searchbar button{
	height: 40px;
}
.searchbar{
	display: flex;
	justify-content: center;
	width: 70%;
	margin: 15px auto;
	border-radius: 20px;
	box-shadow: 0 0 3px grey;
}
.searchbar input{
	border: none;
	flex-grow: 11;
	border-radius: 20px 0 0 20px;
	padding-left: 25px;
	outline: unset;
	border: none;
}
.searchbar button{
	width: 40px;
	flex-grow: 1;
	border-radius: 0 20px 20px 0;
	border: none;
	background: transparent;
	/*padding: 0 10px;*/
}
.tools-list li{
	display: inline-block;
	margin-left: 5px;
}
.btn{
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	border: 1px solid #c0c0c0;
}
.btn-add:hover{
	background-color: var(--bg-sky);
	color: white;
	border: 1px solid var(--bg-sky);
}
.btn-del:hover{
	background-color: red;
	color: white;
	border: 1px solid red;
}
.btn-rounded{
	border-radius: 50%;
}
.table-block{
	width:100%;
	overflow-x:auto;
	margin-top: 5px;
	border: none;
}
table{
	width: 100%;
	border-collapse: collapse;
	margin: 10px 0;
	padding: 0;
}
tbody tr{
	border: 1px solid #f5f5f5;
	margin: 2px 0;
	cursor: pointer;
}
td, 
th{
	padding: 5px;
	border-right: 1px;
	border-left: 0;
	word-wrap:break-word;
	-webkit-hyphens: auto;
   -moz-hyphens: auto;
    hyphens: auto;
}
thead th{
	background-color: var(--bg-sky);
	padding: 15px 0;
}
tbody tr:nth-child(even) td{
	background-color: #f0ffff;
}
tbody tr:hover {
	box-shadow: 0 0 3px var(--bg-grey);
	z-index: 2;
	transform: scale(1);
}
.pagination{
	display: block;
	margin: 30px auto;
	text-align: center;
}
.pagination button{
	width: 50px;
	height: 50px;
	text-align: center;
	border: none;
	background: transparent;
}
.pagination label{
	font-size: 1.2em;
	font-weight: bold;
	padding: 15px 20px;
}
.pagination label:hover{
	border: 1px solid lightgrey;
}
.pagination button:hover{
	background-color: var(--bg-sky);
	color: white;
}
footer,
footer h2,
footer p,
footer li,
footer div{
	background-color: black;
	color: white;
}
footer{
	display: inline-block;
	width: 100%;
	position: relative;
	bottom:0;
}
.contacts, 
.localisation {
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	width : 100%;
}
iframe{
	width: 100%;
}
.copyrights p{
	text-align: center;
	padding: 20px 0 5px;
}
/* Form */
.form-act {
	display: block;
	margin: 10px;
}
.form-act h2{
	text-align: center;
	color: var(--fg-white);
	background-color: var(--bg-sky);
	margin : 5px 0;
	padding: 10px;
	text-transform: uppercase;
}
.form-act h3{
	text-align: left;
	background-color: var(--bg-grey);
	padding: 10px;
	text-indent: 10px;
	text-transform: uppercase;
}
.form-act div{
	margin: 5px 0;
}
.form-act fieldset{
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid var(--bg-grey);
}
.form-act fieldset label{
	width: 250px;
}
.form-act input[type=text],
.form-act input[type=date],
.form-act input[type=email],
.form-act input[type=tel],
.form-act input[type=file],
.form-act textarea,
.form-act select{
	width: 100%;
	margin-top: 5px;
}
.form-act input[type=checkbox],
.form-act input[type=radio]{
	margin-left: 15px;
}
.form-act .rubriques{
	cursor: pointer;
}
/******** Login *******/
.bgcover{
	width: 100%;
	height: 100vh;
	background-image: url("/stam/images/img/bgcover/mine-ouverte.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-login{
	background: white;
	border: 1px solid var(--bg-grey);
	width: 350px;
	min-width: 300px;
	padding: 15px;
	border-radius: 10px;
}
.form-login h2{
	text-align:center;
	margin: 5px auto 10px auto;
	font-size: 1.2em;
	font-weight: normal;
}
.form-login div{
	margin: 10px 0;
}
.form-login input{
	width: 100%;
}
.form-login input[type=text],
.form-login input[type=password]{
	background-color: rgba(255,255,255,0.5);
	margin-top: 5px;
}
.form-login input[type=submit]{
	margin-top: 15px;
}
.glass{
	background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255,255,255,0.1);
	box-shadow: 0 8px 32px 0 rgba(255,255,255,0.37);
	border-radius: 20px;
}