@charset "UTF-8";

html,
body{
	height: 100%;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
section{
	width: 100%;
}
.menu,
.img-frame,
.menu-list,
.menu-item,
.logo,
.amoiries{
	height: 75px;
	display: block;
	margin: 0;
}
.menu{
	width: 100%;
	position: relative;
	overflow: visible;
	display: block;
}
.menu-checker,
.menu-checker + label{
	display: none;
}
.top-banniere, 
.menu,
.menu-list {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.menu-item{
	flex-grow: 1;
	text-align: center;
	position: relative;
	font-size: 1.1em;
}
.submenu{
	display: none;
	z-index: 5;
	text-align: left;
	position: absolute;
	top: 100%;
	box-shadow: 0px 0px 1px black;
	overflow: visible;
	max-height: max-content;
}
.submenu-2{
	display:none;
	position: absolute;
	margin-left: 300px;
	margin-top: -33px;
	overflow: visible;
	max-height: max-content;
	box-shadow: 0px 0px 1px black;
}
.sub-menu-item:hover .submenu-2{
	display: block;
}
.menu-item > a {
	display: block;
	height: 100%;
	padding: 25px 0;
}
.menu-item:hover > a{
	background-color: var(--bg-sky);
}
.menu-item:hover .submenu{
	display: block;
}
.submenu a{
	display: block;
	min-width: 300px;
	padding: 5px 0 5px 10px;
	background-color: var(--bg-lightgrey);
	font-size: 1em;
	
}
.submenu a:hover{
	background-color: #f8f8f8;
}
.searchbar{
	width: 500px;
}

table-block{
	width: 100%;
	overflow: hidden;
}

.pagination{
	display: block;
	margin: 30px auto;
	text-align: center;
}
footer{
	width: 100%;
	position: relative;
	bottom:0;
}
.footer-infos{
	display: flex;
}
.contacts, 
.localisation {
	flex-grow:1;
}
iframe{
	width : 100%;
}
